@page "/"
@using System.Net.Http
@using Domain.Entities
@inject HttpClient Http

<h1>Hello, world!</h1>

@*<input @bind="newItemName" placeholder="New Todo Item" />*@


@foreach (var item in products)
{
    <div>@item.Id @item.Name</div>
}

@code {

    private string newItemName;

    private Product[] productItems;
    public List<Product> products = new();


    protected override async Task OnInitializedAsync() =>
        products = await Http.GetFromJsonAsync<List<Product>>("https://localhost:44315/api/v1/Product");



}