@page "/"
@using System.Net.Http
@using Domain.Entities
@inject HttpClient Http

<h1>Hello, world!</h1>

@*<input @bind="newItemName" placeholder="New Todo Item" />*@


@foreach (var item in productItems)
{
    <div>@item.Name"></div>
}

@code {

    private string newItemName;

    private Product[] productItems;

    protected override async Task OnInitializedAsync() =>
        productItems = await Http.GetFromJsonAsync<Product[]>("https://localhost:44315/api/v1/Product");

}