@page "/"
@using System.Net.Http
@using Domain.Entities
@inject HttpClient Http

@*<input @bind="newItemName" placeholder="New Todo Item" />*@


@foreach (var item in timeSlots)
{
    <h3>Todays Schedule</h3>
    <div>Booker Id: @item.BookerId</div>
    <div>Timeslot: @item.TimeSlotStart -- @item.TimeSlotEnd</div>
}

@code {

    private string newItemName;

    private Product[] productItems;
    public List<Product> products = new();
    public List<TimeSlot> timeSlots = new();


    protected override async Task OnInitializedAsync() =>
    timeSlots = await Http.GetFromJsonAsync<List<TimeSlot>>("https://localhost:44315/api/v1/TimeSlot");



}